<div>
  {{#each post}}
  <div class="card">
    <div class="card-header justify-space-between">
      <h2>
        <a href="/post/{{id}}"></a>
      </h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{body}}</p>
    </div>
  </div>
  {{/each}}
</div>